<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
      <remove name="Polat8091ConnectionString" />
      <clear />
        <add name="Polat8091ConnectionString12" connectionString="Data Source=94.73.149.9;Network Library=DBMSSOCN;
Initial Catalog=DB150411230441;User ID=USR150411230441;Password=PSS!T3L8Q1%;


"
            providerName="System.Data.SqlClient" />

      <add name="Polat8091ConnectionString" connectionString="Data Source=94.73.149.9;Network Library=DBMSSOCN;
Initial Catalog=DB150411230441;User ID=USR150411230441;Password=PSS!T3L8Q1%;


"
    providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  <system.web>
    <httpRuntime requestValidationMode="2.0"   />

    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
